<!DOCTYPE html>
<html>
<head>
    <title> GenericPM </title>
    <link rel="stylesheet" href="css/spectre.min.css">
</head>
<body>
<div class='hero-sm bg-secondary'>
    <div class='hero-body'>
        <div class='text-center'>
            <div class='divider text-center'></div>
            <h1> Login error. </h1>
            <div class='divider text-center'
                 data-content='&#169; Maciej Sójka 2021'></div>
        </div>
    </div>
</div>
<div class='column'>
    <div class='text-center'>
        <a href='./'> Return to home page </a></div>
</div>
</body>
</html>